/* Header Section */

header {
    
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

header li, header p {
    color: #e5e7eb;
    size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0.1% 15% 7%;
}

.nav-link {
    display: flex;
    gap: 20px;
    list-style: none;
}

.text-section {
    display: flex;
    margin: 0 15% 7%;
}

.text {
    display: flex;
    flex-direction: column;
}


img {
    height: 200px;
    width: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

h3 {
    color: #f9faf8;
    size: 24px;
}


.quote {
    background-color: #e5e7eb;
}

footer {
    
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: white;
}


.text {
    align-items: center;
}

blockquote {
    color: #1f3927;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

figcaption {
    color: #1f3927;
    font-size: 36px; 
}